.list-group-item {
  text-align: left;
}

.contact-general-inf {
  width: 100%;
  height: 200px;
  background-image: url(../../../../src/img/geometrische.jpg);
  margin-top: 35px;
  padding-top: 30px;
}

.contact-photo {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-left: auto;
  margin-right: auto;
  background: blanchedalmond;
}


.list-group {
  width: 100%;

}

img {
  width: 100%;
  height: 100%;
  border-radius: 75px;
}
